{% extends 'base.html' %}

{% block content %}
<h1> Offer List</h1>
<div class="row">
    {% if Offer_list %}
    {% for offer in Offer_list %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ offer.code }}</h5>
            <p class="card-text">{{ offer.description }}</p>
            <a class="btn btn-primary" href="new">{{ offer.discount }} Percentage</a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>There are no offer in the table.</p>
    {% endif %}
</div>
{% endblock %}
