{% extends 'base.html' %}
{% block content %}
<h1> Offers </h1>
<div class="row">
    {% for offer in offers %}
                 <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{ offer.code }}</h5>
                <p class="card-text">{{ offer.description }}</p>
                <a class="btn btn-primary" href="new">{{ offer.discount }} Percentage</a>
            </div>
        </div>
    {% endfor %}
</div>
<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
<a href="puzzle">Click here to play Puzzle</a>
{% endblock %}

